<!doctype html>
<html lang="en" class="index">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $sass := resources.Get "css/main.scss"  | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true) | fingerprint }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    <title>{{ .Site.Title | upper }}</title>
  </head>

  <body>
    <div class="container">
      <header class="global">
        <a
          data-toggle="collapse"
          href="#menu-global"
          role="button"
          aria-expanded="false"
          aria-controls="menu-global"
        >
          <h1>
            {{ .Site.Title }}
          </h1>
          {{ partial "affordance.html" . }}
        </a>
        <div class="collapse collapse-content menu" id="menu-global">
          {{ partial "menu-global.html" . }}
        </div>
      </header>
      <header class="description">
        <!-- CODE: load description using partial get-description.html ? -->
        <h2>Enhancing knowledge commons</h2>
      </header>
      <div class="content">
        <article>
         <p> We want to make volunteering process for commons more gentle and effective.</p>

<p>Our goal is to help the knowledge commons space move from tech-centered conversations towards the multidisciplinary multi-prong approach it needs to thrive.</p>
          <section class="latest">
            <h2>Latest articles</h2>

            <div class="grid-list">
              <!-- CODE: we need to ensure just top pages appear here. maybe 
          "if not .IsNode"? for now I made internal pages private -->
              {{ range first 6 .Site.RegularPages }}
                {{ if (in .Params.display "public") }}
                  <a class="item" href="{{ .RelPermalink }}">
                    <h2>{{ .Title }}</h2>
                    <div class="badge">{{ .Section }}</div>
                    <p>{{ .Description }}</p>
                  </a>
                {{ end }}
              {{ end }}

            </div>
          </section>
        </article>
      </div>
    </div>

    {{ partial "scripts.html" . }}
  </body>
</html>
