<!doctype html>
<html lang="en" class="{{ .Section }} list">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $sass := resources.Get "css/main.scss"  | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true) | fingerprint }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <title>{{ .Site.Title }}/{{ .Title | singularize }}</title>
  </head>

  <body>
    <div class="container">
      <header class="global">
        <a
          data-toggle="collapse"
          href="#menu-global"
          role="button"
          aria-expanded="false"
          aria-controls="menu-global"
        >
          <h2>{{ .Site.Title }}/</h2>
          {{ partial "affordance.html" . }}
        </a>

        <div class="collapse collapse-content" id="menu-global">
          {{ partial "menu-global.html" . }}
        </div>
      </header>

      <header class="article">
        <a
          data-toggle="collapse"
          href="#menu-article"
          role="button"
          aria-expanded="false"
          aria-controls="menu-article"
        >
          <h1>{{ .Title | singularize }}</h1>
          {{ partial "affordance.html" . }}
        </a>
        <div class="collapse collapse-content menu" id="menu-article">
          {{ partial "menu-category.html" . }}
        </div>
      </header>

      <header class="description">
        <h2>
          <!-- CODE: get category description from JSON file -->
          Category description here
        </h2>
      </header>

      <div class="content">
        <article class="grid-list">
          <!-- CODE: we need to ensure just top pages appear here. maybe 
                "if not .IsNode"? for now I made internal pages private -->
          {{ range .Pages }}
            {{ if (in .Params.display "public") }}
              <a class="item" href="{{ .RelPermalink }}">
                <h2>{{ .Title }}</h2>
                <p>{{ .Description }}</p>
              </a>
            {{ end }}
          {{ end }}

        </article>
      </div>
    </div>

    {{ partial "scripts.html" . }}
  </body>
</html>
